__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

.env
*.env

*.log
wandb/
runs/

*.pth
*.pt
*.ckpt
*.safetensors
checkpoints/
outputs/

dataset/
*.csv
*.npy
*.pkl
*.xlsx

.vscode/
.idea/

pretrained/
masks/
